<!DOCTYPE html>
<html>
  <head>
    <title>MarkList</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is a basic mark list portal where you can add mark and see total mark.</p>

    <ul>
      <li><a href="/addStudent">Add Student</a></li>
      <li><a href="/addMarklist">Add Marklist</a></li>
      <li><a href="/result">Full Result</a></li>
    </ul>

  </body>
</html>
